

body {
  margin: 10px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
}

.flex-container {
  display: flex;
  background-color: rgb(255, 235, 83);
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  }

  .flex-container ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 5px 5px 5px grey;
    cursor: pointer;
  }

  .hero-banner {
    /*The image used */
    background-image: url(https://images.pexels.com/photos/4467136/pexels-photo-4467136.jpeg);
    /* Set background size */
    background-size: cover;
    height: 150px;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 10px;
    
  }

  div h2 {
    font-weight: lighter;
  }

.work-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

h1, h2, {
  margin: 0;
}

p {
  margin: 0;
}

.page-section {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-around;
  margin: 40px;
  padding: 10px;
  border-style: solid;
  text-shadow: 5px 5px 5px grey;
}

.page-section div {
  flex-basis: 36rem;
  text-shadow: none;
  padding-top: 10px;
}

.page-section > div li {
  list-style: none;
  text-shadow: none;
}

.main {
  display: flex;
  justify-content: center;
  margin: 20px;
}

footer h2 {
  text-align: center;
  font-size: small;
}


@media screen and (max-width: 440px) {
  * {
    font-size: 20px;
    width: 400px;
    justify-content: center;
  }
}