

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  background-color: rgb(255, 255, 0);
  }

.flex-container > div {
  background-color: lightblue;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
}


img {
  padding: none;
  border: solid 20px black;
  margin: 10px;
  box-shadow: 10px 10px 10px #999;
}

.hero-banner {
  /*The image used */
  background-image: url(https://images.pexels.com/photos/4467136/pexels-photo-4467136.jpeg);
  /* Set background size */
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#work {

}
